*.o
/main
/act.dat
/best.gen.dat
/body.dat
/curv.dat
/fitness.dat
/phenotype.dat
/seed.dat
/__pycache__
/testExample
/nv.dat
/nv2.dat
/phenotype2.dat
/w_verb.dat
/tests
/test_output/*.dat
/neuromlLocal/*.dat
/neuromlLocal/report.txt
/test_files/test_py_cpp
/neuromlLocal/__pycache__
/tests2
/neuromlLocal/*.mod
/neuromlLocal/arm64
*_nrn.py
/neuromlLocal/*.gv
/neuromlLocal/Worm2DNet.gv.png
/neuromlLocal/x86_64
/neuromlLocal/testc302NervousSystem
/arm64
/x86_64
/report.txt
/exampleRun_nml
/*.dat
/exampleRun2
/neuromlLocal/testc302SigSim/*.dat
/neuromlLocal/testc302SigSim/arm64
/neuromlLocal/testc302SigSim/x86_64
/neuromlLocal/testc302SigSim/report.txt
/neuromlLocal/testc302SigSim/testc302NervousSystem
/RoyalSociety2018/*.dat
/RoyalSociety2018/main
/Worm2D/main
/network2021/main
/experiments/izq_runs_nets/*/*.gv
/experiments/izq_runs_nets/*/*.pdf
/experiments/izq_runs_nets_nml/*/*.gv
/experiments/izq_runs_nets_nml/*/*.pdf
/*/*.gv
/*/*.pdf
.DS_Store
/CE_orientation/main
